/* top */

.top-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.top-box::before {
    content: "";
    background-image: url('../images/lunch.jpg');
    background-repeat: repeat;
    background-size: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.top-box>* {
    position: relative;
    padding: 2rem;
    color: darkslategray;
    text-align: center;
}


/* bottom */

.bottom-box {
    width: 100%;
    height: 10vh;
}


/* main */

.main-box {
    display: flex;
    flex-wrap: no-wrap;
    margin: 1vh 1%;
    gap: 1%;
}

.main-box>* {
    flex: 1 1 30%
}


/* pic-row */

.pic-row {
    display: flex;
    flex-wrap: nowrap;
    opacity: 0.25;
    width: 100%;
    height: 10px;
    margin-bottom: 1vh;
    overflow-x: auto;
    overflow-y: hidden;
    gap: .25rem;
    scroll-behavior: smooth;
}

.pic-row::-webkit-scrollbar {
    height: 7px;
    background-color: white;
}

.pic-row::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 139, 0.5);
    border-radius: .25rem;
}

.pic-row:hover {
    opacity: 1;
    height: 64px;
    transition: height 150ms linear;
}

.menu-pic {
    width: 64px;
    height: 64px;
    aspect-ratio: 1 1;
    opacity: .5;
}

.menu-pic:hover {
    opacity: 1;
}

#preview {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 30vw;
}


/* Notification */

.notification {
    transition: opacity .5s ease-out;
    opacity: 0;
}

.notification.active {
    opacity: 1;
}


/* table */

.table-container {
    max-height: 500px;
    overflow: auto;
}

table {
    font-size: .8rem;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    -webkit-touch-callout: none;
    /* Disable text highlight */
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

th,
td {
    text-align: left;
    padding: .5rem;
}

th:hover {
    cursor: pointer;
}

th {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:hover {
    cursor: pointer;
    background-color: lightskyblue;
}

tr.active {
    background-color: lightskyblue;
}