.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid darkgray;
    outline: none;
    transition: 0.4s;
    box-sizing: border-box;
}

.accordion.active,
.accordion:hover {
    outline: none;
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.panel ul {
    list-style-type: none;
}

#productTable,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

#productTable th,
td {
    padding: 15px;
    text-align: left;
}

#productTable tr:nth-child(even) {
    background-color: #eee;
}

#productTable tr:nth-child(odd) {
    background-color: #fff;
}

#productTable th {
    background-color: orangered;
    color: white;
}